<div style="margin-top: 5px">
  <div class="card">
    <h4 class="card-header">
      Introduction
    </h4>
    <div class="card-block">
      <h4 class="card-title">Lyrics remind me of you</h4>
      <div class="card-text">
        <p>
        I'll admit that I listen to a lot of music which is hard to decipher, but sometimes it grabs me because it makes me
        think about something in our relationship, and I thought I'd take our anniversary as motivation to build this site.
        I know you really like these, and I wish I had the creativity to do them more often, but it takes me months just to
        think this stuff up, and rummage around in my brain for the choice lines.
        </p>
        <div class="song-links">
          <a class="btn btn-primary" routerLink="/music/same-drugs">Chance the Rapper - Same Drugs</a>
          <a class="btn btn-primary" routerLink="/music/come-down-now">Passing Strange Ensemble - Come Down Now</a>
          <a class="btn btn-primary" routerLink="/music/game-shows">The Mountain Goats - Game Shows Touch Our Lives</a>
          <a class="btn btn-primary" routerLink="/music/florida">The-Dream - Florida</a>
          <a class="btn btn-primary" routerLink="/music/vampires">Jason Isbell - If We Were Vampires</a>
          <a class="btn btn-primary" routerLink="/music/rock-bottom">Modern Baseball - Rock Bottom</a>
        </div>
      </div>
      <img src="assets/introduction.jpg" alt="me and nini" class="rounded-circle">
    </div>
  </div>
</div>

