<div style="margin-top: 5px">
  <div class="card">
    <h4 class="card-header">
      Introduction
    </h4>
    <div class="card-block">
      <h4 class="card-title">Lyrics remind me of you</h4>
      <div class="card-text">
        <p>
        I'll admit that I listen to a lot of music which is hard to decipher, but sometimes it grabs me because it makes me
        think about something in our relationship, and I thought I'd take our anniversary as motivation to build this site.
        I know you really like these, and I wish I had the creativity to do them more often, but it takes me months just to
        think this stuff up, and rummage around in my brain for the choice lines.
        </p>
        <p>
        I pulled together six tracks from over the years, and I tried not to use any of the stuff I've used before.  I can't
        figure out a way to do this besides Spotify, so you'll need that running when you look at this stuff.  On the plus
        side, it's an honest-to-god website, so you can look at it whenever you want.  I would say that Waving Through A
        Window was on the list way back when I conceived of this, but you added it to the kids' bedtime list, which is a
        definite killer when it comes to the enjoyment of a song.
        </p>
        <div class="song-links">
          <a class="btn btn-primary" routerLink="/music/same-drugs">Chance the Rapper - Same Drugs</a>
          <a class="btn btn-primary" routerLink="/music/come-down-now">Passing Strange Ensemble - Come Down Now</a>
          <a class="btn btn-primary" routerLink="/music/game-shows">The Mountain Goats - Game Shows Touch Our Lives</a>
          <a class="btn btn-primary" routerLink="/music/florida">The-Dream - Florida</a>
          <a class="btn btn-primary" routerLink="/music/vampires">Jason Isbell - If We Were Vampires</a>
          <a class="btn btn-primary" routerLink="/music/rock-bottom">Modern Baseball - Rock Bottom</a>
        </div>
      </div>
      <img src="assets/introduction-tall.jpg" alt="me and nini" class="rounded">
    </div>
  </div>
</div>

